extends layout

block content
  .container
    .row
      .jumbotron
        h1 Thanks for using On-Air!
        p I hope you have found On-Air to be useful. If you run into problems or have ideas to make it better, please open an issue under the github repo for this project. 
        a(href='https://github.com/bdm1981/onair/issues' target='_blank')  On-Air github repo
        br
        h2 Find me around the web:
        a(href='https://github.com/bdm1981' target='_blank')
          i.fa.fa-github.fa-2x(aria-hidden='true')
        |  
        a(href='https://twitter.com/bmcallister' target='_blank')
          i.fa.fa-twitter.fa-2x(aria-hidden='true')
        |  
        a(href='mailto:bdm@bdmenterprises.com')
          i.fa.fa-envelope-o.fa-2x(aria-hidden='true')
        |  
        a(href='https://bmcallister.com' target='_blank')
          i.fa.fa-globe.fa-2x(aria-hidden='true')  